<%- include('../../partials/header') %>

<!-- Error Catcher -->
<% if (typeof error !=='undefined' ) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
        <strong>Error!</strong> Username or Email already used.
    </div>
    
    <% } %>
<!-- --------------------------------------------------------------------------------------- -->

<div class="container mt-5">

    <form method="POST" id="createProfileForm" action="/home/api/edit_user_game/edit_biodata">
        <input type="hidden" name="userId" value="<%= BiodataId %>">
        <div>
            <label for="firstName">First Name</label>
            <input 
                type="text" 
                name="firstName" 
                placeholder="Input firstName"
                class="form-control"
                value="<%= userGameB.firstName %>">

            <label for="lastName">Last Name</label>
            <input 
                type="text" 
                name="lastName" 
                placeholder="Input Last Name"
                class="form-control"
                value="<%= userGameB.lastName %>">

            <label for="password">Birth Date</label>
            <input 
                type="date" 
                name="birth_date" 
                placeholder=""
                class="form-control"
                value="<%= userGameB.birthDate %>">
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>
<%- include('../../partials/footer') %>