<%- include('../../partials/header') %>
<div class="container mt-5">

    <div>
        <table class="table table-hover table-striped">
           
            <tr>
                <td>User ID</td>
                <td><%= BiodataId %></td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td><%= Biodata.full_name %></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><%= Biodata.last_name %></td>
            </tr>
                <td>Create Date</td>
                <td><%= Biodata.createdAt %></td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td><%= Biodata.updatedAt %></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="/home/show/<%= BiodataId %>/biodata/edit_biodata"type="button" class="btn btn-primary">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <a href="/home/show/<%= BiodataId %>/biodata/create_biodata"type="button" class="btn btn-primary">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>

<%- include('../../partials/footer') %>