<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Login Page Superuser</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
      <style>
        body{
          background-color: #AAAAAA;
        }
        .form-control, form-outline {
          /* From https://css.glass */
          background: rgba(255, 255, 255, 0.49);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          border: 1px solid rgba(255, 255, 255, 1);
        }
        .type-animation {
      // Required for keeping expected alignment
      display: inline-flex;
      // Start out by hiding via width and overflow
      width: 0;
      overflow: hidden;
      // Leave room for cursor!
      padding-right: 0.08em;
      position: relative;
  
      &:after {
          content: "";
          background: $bg;
          position: absolute;
          right: 0;
          top: -0.05em;
          bottom: -0.05em;
          width: 0.08em;
          border-right: 2px solid transparent;
      }
  
      &.animating {
          animation: type $typeDuration;
          // "stick" to last frame
          animation-fill-mode: forwards;
          animation-delay: 1s;
  
          &:after {
              $cursorLoopCount: ((($chCount + 1) * 180)/320) + 3;
              animation: cursor 320ms $cursorLoopCount ease-in-out;
          }
      }
  }
  
  @keyframes cursor {
      0%,
      100% {
          border-color: $bg;
      }
      50% {
          border-color: $cursor;
      }
      100% {
          width: 0;
      }
  }
  
  $frameSize: 100 / $chCount;
  @keyframes type {
      @for $ch from 1 to $chCount {
          $frame: $ch * $frameSize;
          #{$frame}% {
              width: $ch * $chWidth;
          }
      }
      100% {
          width: ($chCount - 1) * $chWidth;
          padding-right: 0;
      }
  }
      </style>
      
    </head>
  <body>
    <div class="container p-1 my-5" style="width:400px">
       
  
      
  <form method="post" class="form-control p-5" action="/api/verify">
    <!-- Form Title  -->
    <h2 class= "text-center" style="margin-bottom:50px;">SuperUser Login</h2>
    
    <!-- Error Handler  -->
    <% if (typeof error !=='undefined' ) {%>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong>Error!</strong> Wrong Username or Password
        </div>
        <% } %>
        
    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="username-form">Username Admin</label>
      <input 
        placeholder="Superuser Username"
        type="text"
        name="usernameAdmin"
        id="usernameAdmin-form" 
        class="form-control type-animation animating" />
      
    </div>
  
    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="password-form">Password</label>
      <input 
        placeholder="Superuser Password"
        type="password" 
        name = "password"
        id="password-form" 
        class="form-control type-animation animating" />
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-outline-dark">
      Login As SuperUser</button>
  </form>
  </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
  </html>