<html>
    <head>
        <style>
            h1, h2 {
                text-align: center;
            }
        </style>
    </head>
    <body>
    <h1>Unauthorized 401!</h1>
    <h2>You must login as Superuser!</h2>
    </body>
    
</html>