<%- include('../../partials/header') %>

<!-- Error Catcher -->
<% if (typeof error !=='undefined' ) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
        <strong>Error!</strong> Username or Email already used.
    </div>
    
    <% } %>
<!-- --------------------------------------------------------------------------------------- -->

<div class="container mt-5">

    <form method="POST" id="createProfileForm" action="/home/api/edit_user_game">
        <input type="hidden" name="id" value="<%= userGame.id %>">
        <div>
            <label for="username">Username</label>
            <input 
                type="text" 
                name="username" 
                placeholder="Input username"
                class="form-control"
                value="<%= userGame.username %>">
            <label for="username">Email</label>

            <input 
                type="email" 
                name="email" 
                placeholder="Input email"
                class="form-control"
                value="<%= userGame.email %>">
            <label for="password">Password</label>

            <input 
                type="text" 
                name="password" 
                placeholder="Input password"
                class="form-control"
                value="<%= userGame.password %>">
        </div>

        <button type="submit" class="btn btn-info">Save</button>
    </form>

</div>
<%- include('../../partials/footer') %>