<%- include('../partials/header') %>

<div class="container mt-5">

    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Create Date</th>
                <th>Last Update</th>
                <th>Action</th>
            </tr>
            <% user_games.forEach(u => { %>
            <tr>
                <td><%= u.id %></td>
                <td><%= u.username %></td>
                <td><%= u.email %></td>
                <td><%= u.password %></td>
                <td><%= u.createdAt %></td>
                <td><%= u.updatedAt %></td>
                <td> 
                    <a href="/home/show/<%= u.id %>" class="btn btn-warning">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="/home/edit_user_game/<%= u.id %>" class="btn btn-primary">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="/home/api/delete_user_game/<%= u.id %>" class="btn btn-danger">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
            </tr>
            <% }) %>
        </table>
    </div>

</div>

<%- include('../partials/footer') %>