<%- include('../partials/header') %>
<div class="container mt-5">

    <div>
        <table class="table table-hover table-striped">
           
            <tr>
                <td>ID</td>
                <td><%= userGame.id %></td>
            </tr>
            <tr>
                <td>Username</td>
                <td><%= userGame.username %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= userGame.email %></td>
            </tr>
                <td>Create Date</td>
                <td><%= userGame.createdAt %></td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td><%= userGame.updatedAt %></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="/home/show/<%= userGame.id %>/biodata"type="button" class="btn btn-primary">
                        <i class="fa-solid fa-user"></i>
                    </a>
                    <a type="button" class="btn btn-primary">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>

</div>

<%- include('../partials/footer') %>